{% include '_header.twig' %}
{% set filterroot = app.request.getSchemeAndHttpHost() ~  "/apps" %}

{% setcontent allapp = 'apps' %}	

{# set order #}
{% set order = contenttype['sort'] %}
{% if app.request.get('order') %}
    {% set order = app.request.get('order') %}
{% endif %}

{# set page number #}
{% set page = app.request.get('page', 1) %}

{# set amount #}
{% if contenttype['listing_records'] is defined %}
    {% set amount = contenttype['listing_records'] %}
{% else %}
    {% set amount = app.config.get('general/listing_records') %}
{% endif %}

{% set category = app.request.get('category')  %}
{% if category != null %}
    {% set catarray = category|split(',') %}
{% endif %}

{% set theme = app.request.get('theme')  %}

{% set filterlists = apptag_cloud_array(catarray, theme) %}
{% if category!=null or theme!=null %}
    {% set idquery = catarray|performapptagquery(theme)|join(' || ') %}       
    {% setcontent records = 'apps' where {id: idquery} allowpaging limit 10 %}
{% else %}
    {% setcontent records = 'apps' allowpaging limit 10 %}
{% endif %}

<!-- Start content -->
<main role="main">
<section class="block-content-header">
	<div class="grid_wrapper">
		<div class="grid">
			<div class="contents">
				<div class="title">
				     <h1 class="title">Apps showcase</h1>
				     <p class="subhead">Explore our showcase of applications using the Europeana APIs and re-usable content. Discover tools to get you started, or browse our directory of open source software.</p>
                     <p class="subhead">Is your app missing here? If so <a href="http://labs.europeana.eu/support/contact/">get in touch</a></p>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="grid_wrapper">
	<div class="grid">
		<div class="sidebar">
			<div class="subnav">
				<h4 class="label epsilon"> Categories:</h4>
				<ul class="tags tags-large">
                    {% if category != null %}
                        <li><a class="tag" href="{{ root }}/apps?category={{category}}" >All</a></li>
                    {% else %}
                        <li><a class="tag" href="{{ root }}/apps">All</a></li>
                    {% endif %}
                    {% for cur_category in app.config.get('taxonomy/appthemes/options') -%}
                        {% set count = filterlists['themes'][cur_category] %}
                        {% if count == null %} 
                            {% set count = 0 %}
                        {% endif %}
                        {% if cur_category|slug == theme %}
                            {% set add_class='is-active' %}
                        {% else %}
                            {% set add_class='' %}
                        {% endif %}
                        <li><a class="tag {{ add_class }}" href="{{ root }}?theme={{ cur_category|slug }}">{{ cur_category }} ({{ count }})</a></li>
                    {% endfor %}
				</ul>		
                <h4 class="label epsilon"> Filter by:</h4>
                {% set themefilter = "" %}
                {% if theme != null %}
                    {% set themefilter = "&theme=" ~ theme %}
                {% endif %}
                
                <ul class="tags tags-large"><!--
                    {% if theme != null %}
                        --><li><a class="tag" href="{{filterroot}}?theme={{theme}}">All</a></li><!--
                    {% else %}
                        --><li><a class="tag" href="{{filterroot}}">All</a></li><!--
                    {% endif %}
                    {% for key,value in filterlists['categories'] %}
                    {% if key|slug in catarray %}
                        {% set filter_string='' %}
                        {% for curfilter in catarray %}
                            {% if curfilter!=key|slug %} 
                                {% if filter_string!='' %}
                                    {% set filter_string = filter_string ~ ',' ~ curfilter %}
                                {% else %}
                                    {% set filter_string = filter_string ~ curfilter %}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        {% set addclass = 'is-active' %}
                    {% else %}
                        {% if catarray|length!=0 %}
                            {% set filter_string = catarray|join(',') ~ "," ~ key|slug %}
                        {% else %}
                        {% set filter_string = catarray|join(',') ~ key|slug %}
                        {% endif %}
                        {% set addclass = '' %}
                    {% endif %}
                    --><li><a class="tag {{addclass}}" href="{{filterroot}}?category={{filter_string}}{{themefilter}}">{{key}} ({{value}})</a></li><!--
                    {% endfor %}
				--></ul>		
			</div>	
		</div><!--
--><div class="main-content">

	<ul class=""><!--
        {% if records is iterable %}
            {% for listItem in records %}
                {% include 'items/_item-list.twig' with { record: listItem } %}
            {% endfor %}
           --></ul>
        {% else %}
            {% include 'items/_item-list.twig' with { record: records } %}
        {% endif %}
        {% if records is iterable %}
            {{ pager('apps') }}
        {% endif %}
	</div>
</div>

</section>

</main>
<!-- End Content -->


{% include '_footer.twig' %}

