{% include '_header.twig' %}<!--

	--><main role="main"><!--
		--><section class="block-content-header"><!--
			--><div class="grid_wrapper"><!--
			--><div class="grid"><!--
				--><div class="contents"><!--
					--><h1 class="title">{{ record.title }}</h1><!--
					--><p class="subhead">{{ record.intro }}</p><!--
				--></div><!--
			--></div><!--
			--></div><!--
		--></section><!--

		--><div class="lc"><!--
			--><div class="grid grid--rev"><!--
				--><div class="main-content prose" id="documentation"><!--
                    -->{{ record.body|raw }}<!--
                    --><div class="section next-actions"><!--
                        --><h4>View this item in:</h4><!--
                        --><a title="View in the API Console" class="btn" href="{{ record.apiconsolelink }}">API Console</a><!--
                        --><a title="View the portal" class="btn" href="{{ record.portallink }}">Portal</a><!--
                    --></div><!--
                    --><div class="section item-meta-secondary"><!--
                        -->{# set date #}<!--
                        -->{% include 'items/_item-date.twig' %}<!--	
                        -->{# set tags #}<!--
                        -->{% include 'items/_item-tags.twig' %}<!--
                    --></div><!--
                --></div><!--
				--><div class="sidebar">{% if record.support_navigation != "" %}{{ record.support_navigation|raw }}{% endif %}</div><!--
			--></div><!--
		--></div><!--
	--></main><!--

-->{% include '_footer.twig' %}
