{#
  used in:
      - listing.twig
      - search
#}

{% if record is defined %}

    {% set listItem = record %}
    {% set contenttype = record.contenttype %}
    {% set listItemLink = structurelink(record) %}
--><li class="list-item"><!--

        --><div class="item-supplementary">
        {% if (contenttype.slug in [ 'blog', 'locations', "data", "apps"]) %}
            <div class="item-image">
                <a href="{{ listItemLink }}"><img src="{{ listItem.values['teaser_image']|default(listItem.values['image'])|thumbnail() }}" alt="{{ listItem.image|title }}" /></a>
            </div>
        {% elseif contenttype.slug == "events" %}
            <div class="item-bigdate">
                {% include 'items/_item-date-event.twig' with {record : listItem} %}
            </div>
        {% endif %}
        </div><!--

     --><div class="item-details">
        <h2 class="title"><a href="{{ listItemLink }}">{{ listItem.title|striptags }}</a></h2>

        {% if contenttype.slug in [ "blog" ] %}
            <div class="item-meta-primary">
                {# set author #}
                {% include 'items/_item-author.twig' %}
                {% include 'items/_item-readtime.twig' %}
            </div>
        {% endif %}

            <div class="item-meta-secondary">

            {% if contenttype.slug in [ "blog", "locations", "data", "apps" ] %}
                {# set date #}
                {% if contenttype.slug in [ "blog" ] %}
                    {% include 'items/_item-date.twig' %}
                {% endif %}
                {# set tags #}
                
                {% if contenttype.slug in [ "blog", "locations", "data" ] %}
                    {% include 'items/_item-tags.twig' %}
                {% else %}
                    {# apps have a different view #}
                    {% if record.taxonomy.appcategories is defined %}
                        {% set usecategories = record.taxonomy.appcategories %}
                    {% endif %}
                    {% if record.taxonomy.apptags is defined %}
                        {% set usetags = record.taxonomy.apptags %}
                    {% endif %}
                    {% include 'items/_item-tags.twig' %}
                {% endif %}
            {% elseif contenttype.slug == "events" %}
                {# set location #}
                {% include 'items/_item-location.twig' %}
                {# set tags #}
                {% include 'items/_item-tags.twig' %}
            {% endif %}
            </div>

            <div class="item-preview">
                {% if (contenttype.slug in [ "blog" ]) %}
                    {{ listItem.excerpt(app.config.get('general/excerpt_length')) }}
                {% else %}
                    {{ listItem.teaser }}
                {% endif %}
            </div>
        </div>
    </li><!--
{% endif %}
